div.news{
	width: 75%;
	float: left;
}
div.login{
	padding-left: 25px;
	width: 25%;
	float: left;
}
div.server-info{
	width: 25%;
	float: left;
}
div.players{
	width: 75%
	padding-left: 25px;
	float: left;
}